body, html {
    height: 100%;
}

body{
	position: relative;
}

p{
	font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

header{
	position: fixed;
}
.headshot{
	width:260px;
	padding-left: 60px;
}

.hero-image{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("home.jpg");
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#about{
	padding-top: 80px;
}

.aboutTitle{
	margin-bottom: 30px;
}

.img-title{
	margin-left: 120px;
}

.contact{
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #353942;
	color: white;
}

#contact{
	padding-bottom: 10px;
}

.whiteLink{
	color: white;
}

.name{
	font-size: 70px;
}

.sites{
	font-size: 3em;
}

.sites a{
	color:white;
}

#projects{
	padding-bottom: 30px;
	padding-top: 80px;
}

.projects{
	padding-bottom: 40px;
} 

.title{
	font-weight: bold;
	font-size: 45px;
}

.skills-list img{
	width: 50px;
}

.skills-list{
	list-style-type: none;
	padding: 0;
}

.skills-list li{
	display: inline-block;
	padding-left: 20px;
}

.skills-list .big-img{
	width: 150px;
}